#tooltipbreak {
  display: block !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border-style: inset !important;
  border-width: 1px !important;
}

.tippy-box[data-theme~="custom"] {
  background-color: #2d3444f6;
  color: rgba(250, 250, 250, 0.938);
}
