#tooltipbreak {
  display: block !important;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border-style: inset !important;
  border-width: 1px !important;
}

.tippy-box[data-theme~="custom"] {
  background-color: hsla(215, 15%, 25%, 0.97);
  color: hsla(0, 0%, 98%, 0.95);
}
